
.personal-order {
	margin: 10px 0;
	padding: 0 30px;
	background-color: #e9e9e9;;
}

.personal-order__heading:hover{
	cursor: pointer;
}


.personal-order__heading {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	background-color: #ffffff;
	margin: 0 -30px;
	padding: 20px;
	border: 2px solid #DCE1E5;
	color: #28282f;
	/*border-radius: 8px;*/
}

.personal-order__heading a{
	text-decoration: none;
	border-bottom: none;
}


.personal-order__heading:hover{
	background-color: #fff;
	border: 2px solid #8f8686;
	color: #1B1B1B;
}

/*.personal-order__name,
.personal-order__name:visited,
.personal-order__name:active,
.personal-order__name:focus {
    color: #fff;
    background: none;
}*/

.personal-order__name b {
	text-transform: uppercase;
}

/*.personal-order__name:hover {
    color: #000;
    text-decoration: none;
    background: none;
}*/

.personal-order__detail {
	margin: 30px 0 30px 0;
}

/*.personal-order__total {
    color: #fff;
}*/

.personal-order__detail table {
	margin: 0;
}
.personal-order__detail table td {
	padding: 6px;
}

.personal-order__controls {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;
	margin-top: 20px;
}

.personal-order__list {
	margin: 20px 0 20px 0 ;
}
.personal-order__list table td {
	/*font-size: 14px;*/
}

.personal-order__controls .btn{
	padding: 10px 18px;
}
.personal-order__controls .btn:hover{
	border-bottom: none;
	color: #232222;
}

.personal-order__heading .personal-order__name {
	border-bottom: none;
}


.personal-order__btn-products {}
.personal-order__btn-repeat {}



@media screen and (max-width: 768px) {
	.personal-order__total {
		display: none;
	}
	.personal-order__controls {
		align-items: flex-start;
	}
	.personal-order__btn-products,
	.personal-order__btn-repeat {
		display: block !important;
		margin: 0 0 3px;
	}
}

@media screen and (max-width: 568px) {
	.personal-order {
		padding: 0 15px;
	}
	.personal-order__heading {
		padding: 15px;
		margin: 0 -15px;
	}
	.personal-order__controls {
		flex-flow: row wrap;
	}

	.personal-order__controls > div {
		flex: 1 1 100%;
	}

	.personal-order__controls > div > .btn {
		width: 100%;
		margin: 8px 0;
		text-align: center;
	}
	.personal-order__controls > div > .btn i {display: none;}
}

@media screen and (max-width: 374px) {
	.personal-order__name small {
		font-size: 10px;
	}
}


